# Ignore all data files
*.csv
*.xlsx
*.pkl
*.parquet

model.ipynb

# Except keep this readme
!README.md
!.gitkeep

#Keep folder structure 
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!src/.gitkeep
!predictions/.gitkeep

